---
layout: default
collectionpage: posts
pagination:
  enabled: true
---

{% include site-shortabout.html %}

<div id="about">
  <div class="icontitle typeset">
    <div class="hicon"><img height="25" width="25" src="/assets/postimages/focusicon.png"></div>
    <h5>About</h5>
    <div class="h_subunderline"></div>
  </div>
  <div class="subabout typeset">
      {% capture my_include %}{% include_relative /_content/about.md %}{% endcapture %}
      {{ my_include | markdownify }}
  </div>
</div>

<div id="projects">
  <div class="icontitle typeset">
    <div class="hicon"><img height="25" width="25" src="/assets/postimages/skillsicon.png"></div>
    <h5>Projects & Ideas</h5>
    <div class="h_subunderline"></div>
    <div class="thoughts_subline_hrf">Side projects I've been working on lately.</div>
  </div>
  {% if paginator.posts %}
    <section class="section  typeset">
      <ul class="list  list--posts">
        {% for page in paginator.posts %}
          {% if page.flag %}
          <li class="item  item--post">
            <div class="fstyle_{{ page.flag }}"> <!-- highlight class for additional styling -->
                <div class="projectbox_{{ page.order }}">
                <div class="text">
                  {{ page.excerpt | markdownify | truncatewords: 300 }}
                </div>
                {% if page.teaser %}
                <div class="teaserimg-{{ page.order }}">
                  <p><img src="{{ page.teaser }}"></img></p>
                </div>
                </div>
                {% endif %}

              {% if page.flaglink %}
                <div class="flink_{{ page.order }}">
                  <a href="{{ page.flaglink }}" target="_blank">{{ page.flaglinktext }}</a>
                </div>
              {% endif %}
            </div>
          {% else %}
          <li class="item  item--post">
              <article class="article  article--post">
                <div class="heading">
                  <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
                  <div class="h_subunderline_header"></div>
                </div>
                <div class="projectbox_{{ page.order }}">
                <div class="text">
                  {{ page.excerpt | markdownify | truncatewords: 300 }}
                </div>
                {% if page.teaser %}
                <div class="teaserimg-{{ page.order }}">
                  <p><img src="{{ page.teaser }}"></img></p>
                </div>
                </div>
                {% endif %}
                <a href="{{ site.baseurl }}{{ page.url }}">more</a>
                <!-- <div class="meta">
                  {% include post-meta.html %}
                </div> -->
              </article>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <!-- {% include post-pagination.html %} -->
    </section>
  {% else %}
    <section class="section  typeset">
      <div id="else"></div>
      <ul class="list  list--posts">
        {% for page in site.posts %}
        <li class="item  item--post">
          <div class="fstyle_{{ page.flag }}"> <!-- highlight class for additional styling -->
            <article class="article  article--post">
              <div class="heading">
                <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
                <div class="h_subunderline_header"></div>
              </div>
              <div class="projectbox_{{ page.order }}">
              <div class="text">
                {{ page.excerpt | markdownify | truncatewords: 300 }}
              </div>
              {% if page.teaser %}
              <div class="teaserimg-{{ page.order }}">
                <p><img src="{{ page.teaser }}"></img></p>
              </div>
              </div>
              {% endif %}
              <a href="{{ site.baseurl }}{{ page.url }}">more</a>
              <!-- <div class="meta">
                {% include post-meta.html %}
              </div > -->
            </article>
          </div>
        </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>

{% include site-fixedproject.html %}

<div id="contact">
  <div class="icontitle typeset">
    <div class="hicon"><img height="25" width="25" src="/assets/postimages/progressicon.png"></div>
    <h5>Contact</h5>
    <div class="h_subunderline"></div>
  </div>
  {% include site-inlinecontact.html %}
</div>
