{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    <!-- {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url or (item.url == "/categories/" and page.path == 'categories.md') %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
      <!-- <p>{{ item.url }}</p>
      <p>{{ page.url }}</p> -->
    <!-- {% endfor %} -->
    <li class="item item--nav">
        {% if page.url == "/index.html" %}
          <a id="projects_menu" href="">Projects & Thoughts</a>
        {% else %}
          <a href="{{ site.baseurl }}/#projects">Projects & Thoughts</a>
        {% endif %}
        <!-- <a href="/categories/">Projects & Thoughts</a> -->
    </li>
    <li class="item item--nav">
      {% if page.url == "/index.html" %}
        <a id="contact_menu" href="">Contact</a>
      {% else %}
        <a href="{{ site.baseurl }}/#contact">Contact</a>
      {% endif %}
    </li>
    <li class="item item--nav">
        <a href="/search/">Search</a>
    </li>
    <li class="item item--nav bright_dark">
      <a onclick="brightnnight()"><i class="fas fa-adjust"></i></a>
    </li>
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% endif %}

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .list--nav')
  const button  = document.querySelector('.header .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 540) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })


  //
  jQuery(document).ready(function() {

    var btn = $('#projects_menu');
    btn.on('click', function(e) {
      e.preventDefault();
      collapseNav();
    });

  });
</script>
