<div class="pagination">
  <nav class="nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">&larr; Neuer</a>
  {% else %}
    <span class="pagination--previous">&larr; Neuer</span>
  {% endif %}

  <span class="pagination--counter">{{ paginator.page }} von {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Älter &rarr;</a>
  {% else %}
    <span class="pagination-next">Älter &rarr;</span>
  {% endif %}

  </nav>
</div>
