<div class="pagination">
  <nav class="nav--paginator">

  {% if paginator.previous_page %}
    <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}"><i class="fas fa-angle-left"></i> Newer</a>
  {% else %}
    <span class="pagination--previous"><i class="fas fa-angle-left"></i> Newer</span>
  {% endif %}

  <span class="pagination--counter">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a href="{{ site.baseurl }}{{ paginator.next_page_path }}">Older <i class="fas fa-angle-right"></i></a>
  {% else %}
    <span class="pagination-next">Older <i class="fas fa-angle-right"></i></span>
  {% endif %}

  </nav>
</div>
