{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <!-- <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ category | downcase }}">{{ category }}</a></span>{% if forloop.last == false %},{% endif %} -->
      <span class="label  label--category">{{ category }}</span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
 {% elsif page.category %}
  {% capture categories %}
    <!-- <span class="label  label--category"><a href="{{ site.baseurl }}/categories/#{{ page.category | downcase }}">{{ page.category }}</a></span> -->
    <span class="label  label--category">{{ page.category }}</span>
  {% endcapture %}
 {% endif %}
 <small class="small post-meta">
   {{ categories | append: "&nbsp;&middot;&nbsp;" }}
 </small>
<small class="small post-meta">
  {% assign date_format = site.date_format | default: "%d %b %Y" %}
  {%- if page.date_create -%}
    <time datetime="{{ page.date_create | date_to_xmlschema }}" class="time">{{ page.date_create | date: date_format }}</time>
  {%- else -%}
    <time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date: date_format }}</time>
  {%- endif -%}
</small>

<small class="small post-meta">
  {% include read-time.html %}
</small>
