<div class="progress"></div>

<script type="text/javascript">
  var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('.progress'),
    scroll;

  document.addEventListener('scroll', function() {
    scroll = (h[st]||b[st]) / ((h[sh]||b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');
  });

  $("#top").click(function() {
    $("html, body").animate({ scrollTop: 0 }, "slow");
    return false;
  });

</script>
