<div class="fixedproject">
  <div class="playlistimgbackground">
    <div class="playlistimg">
      <a href="https://open.spotify.com/playlist/4bX7ethycbtwsmT0d0UIwx?si=1c8fad8e46e64fa5" target="_blank"><img src="assets/projectimages/playlist_logo_m.jpg"></img></a>
    </div>
  </div>
  <div class="playlisttext">
    <span>I listen to podcasts a lot. To store the most inspirational opinions, ideas and stories, I created <a href="https://open.spotify.com/playlist/4bX7ethycbtwsmT0d0UIwx?si=1c8fad8e46e64fa5" target="_blank">this Spotify playlist</a> for me and now also for you (some in German).</span>
  </div>
</div>
