<header class="header">
    <div id="zero" class="sidebarbuttons">
      <a class="sbbutton2" onclick="headersize()">
        {% include icon.html id="nav" title="Menu" %}
      </a>
    </div>
    <div class="headercontent">
      <div class="headerimg">
        <img class="aboutimage" src="/assets/postimages/1m1a0l1t0e1.jpg"></img>
      </div>
      <div class="headertext">
        <div class="logo">
          <a href="/"><span class="logostatem">Malte </span><span class="logopre">Kassen</span><span></span></a>
        </div>
      <div class="h_subunderline_header"></div>
      <div class="headersubline"><p>tech product strategist/manager</p></div>
      </div>
      <nav class="menu_toggle menu_closed">
        <div class="menu-toggle" onclick="headersize()">
          <i class="fa fa-times" aria-hidden="true"></i>
          <!-- {% include icon.html id="times" title="Menu" %} -->
        </div>
        <ul class="list  list--nav">
            <li class="item item--nav">
                {% if page.url == "/index.html" %}
                  <a id="projects_menu" onclick="headersize()" href="#projects">Thoughts</a>
                {% else %}
                  <a href="{{ site.baseurl }}/#projects">Thoughts</a>
                {% endif %}
            </li>
            <li class="item item--nav">
                  <a href="/projects/">Projects</a>
            </li>
            <li class="item item--nav">
              <a href="/about/">About</a>
            </li>
            <li class="item item--nav">
                <a href="/search/">Search</a>
            </li>

          </ul>
          <div class="lightswitch">
            <a onclick="brightnnight()"><i class="fas fa-adjust"></i></a>
          </div>
          <div class="messagebox">
            <a href="{{ site.baseurl }}/humanreadyfuture/">#humanreadyfuture</a>
          </div>
          {% include nav-social.html %}
        </div>

  <script type="text/javascript">
    // header side
    function headersize(){
      const body = document.getElementById('body')
      const menu = document.querySelector('.menu_toggle')
      const header = document.querySelector('.header')

      if (document.documentElement.clientWidth < 800) {
        if (menu.classList.contains('menu_closed') == true) {
          menu.classList.remove('menu_closed');
          menu.classList.add('menu_open');
        } else {
          menu.classList.remove('menu_open');
          menu.classList.add('menu_closed');
        }
      }
    }
  </script>
</header>
