<div id="cookiebanner">
  <div class="cookiecontent">
    <div class="cookietext">
      <span>Mit der Zustimmung zur Cookie Richtline, erklärst Du dich bereit... Dies und das und jenes diese Seite verwendet Google analytics.</span>
      <a href="/cookiepolicy/">mehr Informationen</a>
    </div>
    <div class="cookiebuttons">
      <div class="btnlink">
        <a onclick="dislikecookies()">ablehnen</a>
      </div>
      <button onclick="iwantcookies()" class="btncookie">akzeptieren</button>
    </div>
  </div>
</div>
