<div class="inlinecontact typeset">
  <div id="contact" class="shortabout">
    <h4>Contact</h4>
    <div class="h_underline"></div>
  </div>
  <div class="contactflex">
    <div class="contactmail">
        Get in touch via e-mail:
        <br>
        <a href="mailto:malte.k@outlook.com">malte.k@outlook.com</a>

      <p>

      </p>

    </div>
    <div class="contactsocial">
    Get in touch via social media:
        {% include nav-social.html %}
    </div>
</div>
<div class="disclaimer">
      <small><a href="/contact/">Legal Notice / Disclaimer</a></small>
</div>
</div>
