<div id="cookiebanner">
  <div class="cookiecontent">
    <div class="cookietext">
      <span>By accepting the cookie policy you agree to the useage of cookies on this website. This website uses Google Analytics.</span>
      <a href="/contact/#cookiepolicy">more information</a>
    </div>
    <div class="cookiebuttons">
      <div class="btnlink">
        <a onclick="dislikecookies()">decline</a>
      </div>
      <button onclick="iwantcookies()" class="btncookie">accept</button>
    </div>
  </div>
</div>
