<header class="header">
    <div class="headercontent">
        <div class="logo">
          <a href="/"><span class="logostatem">Malte </span><span class="logopre">Kassen</span><span></span></a>
        </div>
      <div class="menubox">
        <nav class="menu_toggle">
        <ul class="list  list--nav">
            <!-- About -->
            <li class="item item--nav">
              {% if page.url == "/index.html" %}
                <a id="about_menu" onclick="headersize()" href="#about">About</a>
              {% else %}
                <a href="{{ site.baseurl }}/#about">About</a>
              {% endif %}
            </li>
            <!-- Projects -->
            <li class="item item--nav">
              {% if page.url == "/index.html" %}
                <a id="projects_menu" onclick="headersize()" href="#projects">Projects & Ideas</a>
              {% else %}
                <a href="{{ site.baseurl }}/#projects">Projects & Ideas</a>
              {% endif %}
            </li>
            <!-- Contact -->
            <li class="item item--nav">
              {% if page.url == "/index.html" %}
                <a id="contact_menu" onclick="headersize()" href="#contact">Contact</a>
              {% else %}
                <a href="{{ site.baseurl }}/#contact">Contact</a>
              {% endif %}
            </li>
            <!-- Search -->
            <li class="item item--nav">
                <a href="/search/">Search</a>
            </li>
          </ul>
        </div>
        <!-- lightswitch -->
          <div class="lightswitch">
            <a onclick="brightnnight()"><i class="fas fa-adjust"></i></a>
          </div>
          <div id="zero" class="sidebarbuttons">
            <a class="sbbutton2" onclick="headersize()">
              {% include icon.html id="nav" title="Menu" %}
            </a>
          </div>
          <!-- small menu -->
          <div class="large_menu is_closed">
            <div class="menu-toggle" onclick="headersize()">
              <i class="fa fa-times" aria-hidden="true"></i>
              <!-- {% include icon.html id="times" title="Menu" %} -->
            </div>
              <ul class="lmenu_list">
                  <li class="lmenu_list--item">
                    {% if page.url == "/index.html" %}
                      <a id="about_menu" onclick="headersize()" href="#about">About</a>
                    {% else %}
                      <a href="{{ site.baseurl }}/#about">About</a>
                    {% endif %}
                  </li>
                  <li class="lmenu_list--item">
                    {% if page.url == "/index.html" %}
                      <a id="projects_menu" onclick="headersize()" href="#projects">Projects & Ideas</a>
                    {% else %}
                      <a href="{{ site.baseurl }}/#projects">Projects & Ideas</a>
                    {% endif %}
                  </li>
                  <li class="lmenu_list--item">
                    {% if page.url == "/index.html" %}
                      <a id="contact_menu" onclick="headersize()" href="#contact">Contact</a>
                    {% else %}
                      <a href="{{ site.baseurl }}/#contact">Contact</a>
                    {% endif %}
                  </li>
                  <li class="lmenu_list--item">
                      <a href="/search/">Search</a>
                  </li>
                  <li class="lmenu_list--item2">
                      <a class="large_menu_lightswitch" onclick="brightnnight()"><i class="fas fa-adjust"></i></a>
                  </li>
                </ul>
            </div>
          </div>
          <!-- <div class="messagebox">
            <a href="{{ site.baseurl }}/humanreadyfuture/">#humanreadyfuture</a>
          </div>
          {% include nav-social.html %} -->
  <script type="text/javascript">
    // header side
    function headersize(){
      const menu = document.querySelector('.large_menu')

      //if (document.documentElement.clientWidth < 800) {
        if (menu.classList.contains('is_closed') == true) {
          menu.classList.remove('is_closed');
          menu.classList.add('is_opened');
        } else {
          menu.classList.remove('is_opened');
          menu.classList.add('is_closed');
        }
      //}
    }
  </script>
</header>
