<!-- Overwrite this file with code you want before the closing body tag -->
<script type="text/javascript">


function brightnnight() {
	//let currentMode = document.getElementById('style').getAttribute('href');


  let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
    document.getElementById('style').setAttribute('href', '/assets/styles.css');
	} else {
		document.documentElement.setAttribute('data-theme', 'dark');
    document.getElementById('style').setAttribute('href', '/assets/styles_dark.css');
		window.localStorage.setItem('theme', 'dark');
	}
}

function iwantcookies() {
    document.getElementById('cookiebanner').style.visibility = 'hidden';
}

function dislikecookies() {
    alert("no!")
}
</script>
