<!-- Overwrite this file with code you want before the closing body tag -->
<script type="text/javascript">
  // jQuery(document).ready(function() {
  //
  //   var btn = $('#projects_menu');
  //   btn.on('click', function(e) {
  //     e.preventDefault();
  //     // collapseNav();
  //   });
  //
  //   var btn = $('#contact_menu');
  //   btn.on('click', function(e) {
  //     e.preventDefault();
  //     //  collapseNav();
  //   });
  // });


// day & night mode
function brightnnight() {
  let currentMode = document.documentElement.getAttribute('data-theme');
	if (currentMode === "dark") {
		document.documentElement.setAttribute('data-theme', 'light');
		window.localStorage.setItem('theme', 'light');
    document.getElementById('style').setAttribute('href', '/assets/styles.css');
  } else {
		document.documentElement.setAttribute('data-theme', 'dark');
    document.getElementById('style').setAttribute('href', '/assets/styles_dark.css');
		window.localStorage.setItem('theme', 'dark');
	}
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150914856-1"></script>
<script type="text/javascript">
  // check for cookie by name
  function checkforcookie(name) {
    var status = false;
    var cookie = name + "=";
    var allcookies = document.cookie.split(';');
      for(var i=0; i<allcookies.length; i++)
      {
        var c = allcookies[i].trim();
        if (c.indexOf(cookie)==0)
        {
          status = true;
        }
      }
      return status;
    }

  function clearCookie(name, domain, path){
	try {
    if (checkforcookie(name) == true)
    {
      document.cookie = name + "=; domain=" + domain + "; path=" + path + ";expires=Thu, 01 Jan 1970 00:00:00 GMT;";
    }
	}
	catch(err) {
    alert('Fehler: Bitte die Cookies manuell über das Menu deines Webbrowsers löschen.');
  }
}

  function cookieconsent() {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-150914856-1');
    gtag('config', 'UA-150914856-1', { 'anonymize_ip': true });
    ga('set', 'anonymizeIp', true);
  }

  function cookierevoke () {
    window['ga-disable-UA-150914856-1'] = true;
    clearCookie('_ga','.humanreadyfuture.com','/');
    clearCookie('_gat_gtag_UA_150914856_1','.humanreadyfuture.com','/');
    clearCookie('_gid','.humanreadyfuture.com','/');
  }

  // create consent cookie
  // Expire date one year
  function setConsentCookie(value) {
    var name = "cc_status";
    var domain = ".humanreadyfuture.com";
    var path = "/";
    var days = 360;
    var d = new Date;
    d.setTime(d.getTime() + 24*60*60*1000*days);
    document.cookie = name + "=" + value + "; domain=" + domain + "; path=" + path + "; expires=" + d.toGMTString() + ";";
}

  function iwantcookies() {
    setConsentCookie("allow");
    cookieconsent();
    document.getElementById('cookiebanner').style.visibility = 'hidden';
  }

  // set consent cookie to deny
  // delete GA cookies
  // hide cookie bar
  function dislikecookies() {
    setConsentCookie("deny");
    cookierevoke();
    document.getElementById('cookiebanner').style.visibility = 'hidden';
  }

  // check for consent cookie
  function onInit() {
    if (checkforcookie("cc_status") == false)
    {
      document.getElementById('cookiebanner').style.visibility = 'visible';
    }
  }

  function reconsider() {
    if (checkforcookie("cc_status") == true) {
      dislikecookies();
    }
  }

  function scrollToTop() {
    $(window).scrollTop(0);
  }

  onInit();
</script>
