// breakpoints in "pixels"
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 540,   // smartphones
  break-2: 650,   // 640px   ~ Small tablet up
  break-3: 900,   // 800px   ~ Large tablet up
  break-4: 1024,  // 1024px  ~ Desktop up
  break-5: 1600   // 1600px  ~ Large desktop up
) !default;

// Root font-sizes
$rootsizes: (
  rootsize-0: 15,   // 24px line-height body text
  rootsize-1: 15,
  rootsize-2: 15,   // 28px line-height body text
  rootsize-3: 15,   // 30px line-height body text
  rootsize-4: 15,   // 34px line-height body text
  rootsize-5: 16    // 38px line-height body text
) !default;

// max-widths for containers
$maxwidths: (
  width-0: 300,
  width-1: 540,
  width-2: 650,
  width-3: 900,
  width-4: 1500,
  width-5: 1500
) !default;


// Background colours
$backgroundColour: #ffffff !default; //f8f8f8
$codeBackgroundColour: #eaeaea !default;

// Text colours
$textColour: #555555 !default;
$headingColour: #000000 !default;
$focusColour: #67a9bc; // #84b8bc; // #a4063d; // #ea5422; // #449a85; // #589082; // #02BB9D !default;  FF9500
$focusColour2: #C34366; // #C34366; // #5F007C !default;
$focusColour3: #EABA17; // #5F007C !default; // header sub headlibe
$focusColour4: #67a9bc;
$focusColour_Cookie: #EABA17 !default;
$captionColour: #a8adac !default;
$captionColour2: #dfdfdf;
$footer: #ffffff !default;  // f3f2f0
$borderColorHeader: #EFEFEF;
$cookie: #05000d !default;

// Typo
$bodytype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/Roboto/Roboto-Bold.ttf) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
