// SCSS variables
// ---------------------------------------

// Note: For the following Sass maps enter values as if they would be px units.

// Breakpoint sizes from px to ems. Add more values here to add more breakpoints.
// Change names if you prefer, it wont break the mixin as long as they are strings not just numbers.
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 540,   // smartphones
  break-2: 640,   // 640px   ~ Small tablet up
  break-3: 800,   // 800px   ~ Large tablet up
  break-4: 1024,  // 1024px  ~ Desktop up
  break-5: 1600   // 1600px  ~ Large desktop up
) !default;

// Root font-sizes for each breakpoint. Set to half desired line-height of body text.
// ! Make sure to have as many sizes as breakpoints above.
$rootsizes: (
  rootsize-0: 20,   // 24px line-height body text
  rootsize-1: 16,
  rootsize-2: 13,   // 28px line-height body text
  rootsize-3: 14,   // 30px line-height body text
  rootsize-4: 16,   // 34px line-height body text
  rootsize-5: 19    // 38px line-height body text
) !default;

// Set the optimum line-length for your text (based on typeface).
// Aim for 75-100 characters a line when possible, at smaller sizes type size is more important.
// ! Make sure to have as many widths as breakpoints above.
// Note: this was 'maxwidths' in previous versions.
$measures: (
  measure-0: 400,  // 500px wide
  measure-1: 400,
  measure-2: 550,  // 550px wide
  measure-3: 600,  // 600px wide
  measure-4: 680,  // 680px wide
  measure-5: 750   // 750px wide
) !default;

// Set the max-widths for containers (based on design).
// ! Make sure to have as many widths as breakpoints above.
$maxwidths: (
  width-0: 300,  // 500px wide
  width-1: 450,
  width-2: 600,  // 600px wide
  width-3: 800,  // 800px wide
  width-4: 1100, // 110px wide
  width-5: 1300  // 1300px wide
) !default;

// Gutter widths
$gutterwidths: (
  small: 1rem,
  medium: 2rem,
  large: 4rem
) !default;

// Background colours
$backgroundColour: #fcfcfc !default;
$backgroundColourDark: #111111;
$codeBackgroundColour: #eaeaea !default;

//Text dark
$bodyColour: #444444 !default;
$bodyColourDark: #E0E0E0;

// Text colours
$logoColour: #000000;
$headingColour: #000000 !default;
$headingHover: #00C7AC;
$linkColour: #00C7AC !default; //00C7AC --- 088AD8
$hoverColour: #00C7AC !default; // 67796F
$underlineColour: #00C7AC;
$focusColour: #00C7AC !default;
$focusColour2: #FF3D00 !default;
$focusColour3: #FFBB00 !default;
$captionColour: #a8adac !default;
$captionColour2: #dfdfdf;
$footer: #f6f7f6 !default;  // f3f2f0
$white: #ffffff !default;
$borderColorHeader: #EFEFEF;

// Typography
$bodytype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Lalezar:400,700|Open+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');
