// breakpoints in "pixels"
$breakpoints: (
  break-0: 0,     // 0px       Mobile first
  break-1: 540,   // smartphones
  break-2: 650,   // 640px   ~ Small tablet up
  break-3: 800,   // 800px   ~ Large tablet up
  break-4: 1024,  // 1024px  ~ Desktop up
  break-5: 1600   // 1600px  ~ Large desktop up
) !default;

// Root font-sizes
$rootsizes: (
  rootsize-0: 16,   // 24px line-height body text
  rootsize-1: 17,
  rootsize-2: 17,   // 28px line-height body text
  rootsize-3: 16,   // 30px line-height body text
  rootsize-4: 16,   // 34px line-height body text
  rootsize-5: 15    // 38px line-height body text
) !default;

// max-widths for containers
$maxwidths: (
  width-0: 300,
  width-1: 450,
  width-2: 600,
  width-3: 800,
  width-4: 900,
  width-5: 1000
) !default;

// Background colours
$backgroundColour: #070014 !default;
$codeBackgroundColour: #eaeaea !default;

// Text colours
$textColour: #e0e0e0 !default;
$headingColour: #d0d0d0 !default;
$focusColour: #00C7AC !default;
$focusColour2: #5F007C !default;
$captionColour: #00493f !default;
$captionColour2: #d0d0d0;
$footer: #05000d !default;  // f3f2f0
$footer2: #000000 !default;
$borderColorHeader: #05000d;
$cookie: #05000d;


// // Background colours
// $backgroundColour: #070014 !default;  // 1C0A48
// $codeBackgroundColour: #eaeaea !default;
//
// //Text dark
// $textColour: #e0e0e0 !default;
//
// // Text colours
// $headingColour: #d0d0d0;
// $headingColour: #d0d0d0 !default;
// $focusColour: #ffffff;
// $focusColour: #00C7AC !default; //088AD8
// $focusColour: #00C7AC !default; // 033E61 67796F
// $focusColour: #00C7AC;
// $focusColour: #00C7AC !default;
// $focusColour2: #FF3D00 !default;
// $focusColour3: #FFBB00 !default;
// $captionColour: #00493f !default;
// $captionColour2: #d0d0d0;
// $footer: #05000d !default;
// $footer2: #000000 !default;
// $white: #ffffff !default;
// $borderColorHeader: #05000d;

// Typography
$bodytype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  font-family: '"Roboto", sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Lalezar:400,700|Open+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');
