// Modular scale
// ---------------------------------------

// Setting responsive modular-scales. Use appropriate scales for viewport sizes.
$modular-scale: (
  // Major Third http://www.modularscale.com/?16,28&px&1.25&web&text
  scale-0: (
    alpha:   27.0, // h1, page title
    beta:    23.0, // h2, post head line
    gamma:   20.0, // logo, h3
    delta:   20.0, // post meta, h4
    epsilon: 19.5, // kein mal // h5
    zeta:    18.5, // text standard
    eta:     18.0, // text standard
    theta:   14.0, // post caption
    iota:    11.5 // nicht verwendet
  ),
  scale-1: (
    alpha:   27.0, // h1, page title
    beta:    23.0, // h2, post head line
    gamma:   20.0, // logo, h3
    delta:   20.0, // post meta, h4
    epsilon: 19.5, // kein mal // h5
    zeta:    18.5, // text standard
    eta:     18.0, // text standard
    theta:   14.0, // post caption
    iota:    11.5 // nicht verwendet
  ),
  // Major Third http://www.modularscale.com/?17,30&px&1.25&web&text
  scale-2: (
    alpha:   27.0,
    beta:    23.0,
    gamma:   20.0,
    delta:   20.0,
    epsilon: 19.5,
    zeta:    18.5,
    eta:     18.0,
    theta:   12.8,
    iota:    11.5
  ),
  // Major Third http://www.modularscale.com/?18,32&px&1.25&web&text
  scale-3: (
    alpha:   35.0,
    beta:    30.0,
    gamma:   25.0,
    delta:   22.0,
    epsilon: 21.5,
    zeta:    20.5,
    eta:     20.0,
    theta:   14.8,
    iota:    13.5
  ),
  // Perfect Fourth http://www.modularscale.com/?20,40&px&1.333&web&text
  scale-4: (
    alpha:   45.0,
    beta:    45.0,
    gamma:   33.0,
    delta:   28.0,
    epsilon: 26.5,
    zeta:    18.0,
    eta:     18.0,
    theta:   16.0,
    iota:    15.0
  ),
  // Aug. Fourth http://www.modularscale.com/?22,50&px&1.414&web&text
  scale-5: (
    alpha:   50.0,
    beta:    70.0,
    gamma:   35.3,
    delta:   31.1,
    epsilon: 25.0,
    zeta:    22.0,
    eta:     21.0,
    theta:   15.6,
    iota:    12.5
  )
);
