---
layout: default
---

<div class="about typeset">

  {{ content }}

  <div class="inlinecontact typeset">
    <div id="contact" class="shortabout">
      <h4>Contact</h4>
      <div class="h_underline"></div>
    </div>
    <div class="contactflex">
      <div class="contactmail">
          Get in touch via e-mail:
          <br>
          <a href="mailto:malte.k@outlook.com">malte.k@outlook.com</a>

        <p>

        </p>

      </div>
      <div class="contactsocial">
      Get in touch via social media:
          {% include nav-social.html %}
      </div>
  </div>
  <div class="thoughts typeset">
    <h4 class="">Disclaimer</h4>
    <div class="h_underline"></div>
  </div>
  <div class="">
    <p>
      This private website reflects my personal opinion and views and does not represent the opinion of my employer.
    </p>
  </div>
  <br>
  <div class="disclaimer">
        <small><a href="/disclaimer/">Legal Notice / Disclaimer</a></small>
  </div>
  </div>

</div>
