---
layout: default
pagination:
  enabled: true
---

<article class="article  article--post  content  typeset">
  <!-- <div class="heading post">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="meta">
    {% include post-meta.html %}
  </div>
  <div class="h_underline"></div>
  <div class="text-post">
  {{ content }}

  {% include nav-share.html %}
  </div> -->
  {% if paginator.posts %}
    <section class="section  typeset">

      {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
      <!-- no pagination in the begining of the project -->
      <!-- {% include post-pagination.html %} -->
    </section>
  {% else %}

    <section class="section  typeset">
      <div id="else"></div>
      <ul class="list  list--posts">
      {% for post in site.categories %}
          <li class="item  item--post">
            <article class="article  article--post">
              <div class="heading">
                <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
              </div>
              {% include post-meta.html %}
              {{ page.excerpt | markdownify | truncatewords: 300 }}

            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

</article>
