---
layout: default
pagination:
  enabled: true
---

<article class="article  article--post  content  typeset">
  <!-- <div class="heading post">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="meta">
    {% include post-meta.html %}
  </div>
  <div class="h_underline"></div>
  <div class="text-post">
  {{ content }}

  {% include nav-share.html %}
  </div> -->
  {% if paginator.posts %}
    <section class="section shortabout ypeset">

      {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h4>{{ category_name }}</h4>
    <div class="h_underline"></div>
    {% for post in site.categories[category_name] %}
        <article class="archive-item">
          <div class="archive"><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></div>
          <div class="meta">
            <small class="small post-meta">
              {% assign date_format = site.date_format | default: "%d %b %Y" %}
              <time datetime="{{ post.date | date_to_xmlschema }}" class="time">{{ post.date | date: date_format }}</time>
            </small>

            <small class="small post-meta">
              {% include read-time.html %}
            </small>
        </article>
      {% endfor %}
      </div>
    {% endfor %}
      <!-- no pagination in the begining of the project -->
      <!-- {% include post-pagination.html %} -->
    </section>
  {% else %}

    <section class="section  typeset">
      <div id="else"></div>
      <ul class="list  list--posts">
      {% for post in site.categories %}
          <li class="item  item--post">
            <article class="article  article--post">
              <div class="heading">
                <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
              </div>
              {% include post-meta.html %}
              {{ page.excerpt | markdownify | truncatewords: 300 }}

            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

</article>
