<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.collectionpage %}
      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <title>{{ site.title }}</title>
      <meta name="description" content="{{ collectiondata.description }}">

    {% endif %}
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
    <meta name="theme-color" content="{{ site.manifest.theme_color | default: '#242e2b' }}"/>
    <link id="style" rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    {% include site-favicons.html %}
    {% include site-analytics.html %}
    {% include site-before-start.html %}
  </head>
  <body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-progress.html %}
    {% include site-cookiepolicy.html %}
    {% include site-icons.svg %}
    {% include site-header.html %}

    <main class="main  container">

      {{ content }}

    </main>

    {% include site-footer.html %}

    {% if site.service_worker != false %}{% include site-sw.html %}{% endif %}

    {% include site-before-end.html %}
  </body>

</html>
