---
layout: default
---
<div id="projects" class="shortabout typeset">
  <h4>Human-Ready Future</h4>
  <div class="h_underline"></div>
  <p>
    {{ content }}
  </p>

<article class="article  article--post  content  typeset">
    {% for page in site.categories.humanreadyfuture %}
    <ul class="list  list--posts">
        <li class="item  item--category">
        <div class="heading">
          <h2><a href="{{ site.baseurl }}{{ page.url }}">{{page.title}}</a></h2>
        </div>
        <div class="meta">
          {% include post-meta.html %}
        </div>
      </li>
    </ul>
    {% endfor %}
</article>
</div>
      <!-- no pagination in the begining of the project -->
      <!-- {% include post-pagination.html %} -->
